<%= form_for(@actor) do |f| %>

	<%= render 'shared/actor_error_messages' %>



	<div class="row">
		<div class="col-md-6">

			<div>
				<%= f.text_field :name, :placeholder => "Actor name", class: 'mocap-textbox' + (@actor.errors.include?(:name) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :body_height, :placeholder => "Body height [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:body_height) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :shoulder_height, :placeholder => "Shoulder height [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:shoulder_height) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :tibia_length, :placeholder => "Tibia length [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:tibia_length) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :hip_width, :placeholder => "Hip width [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:hip_width) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :shoulder_elbow_length, :placeholder => "Shoulder elbow length [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:shoulder_elbow_length) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :chest_girth, :placeholder => "Chest girth [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:chest_girth) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :thigh_girth, :placeholder => "Thigh girth [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:thigh_girth) ? ' textbox-wrong' : '') %>
			</div>

		</div>


		<div class="col-md-6">

			<div>
				<%= f.text_field :weight, :placeholder => "Weight [kg]", class: 'mocap-textbox' + (@actor.errors.include?(:weight) ? ' textbox-wrong' : '') %>
			</div>

			<%#<div>%>
				<%#<%= f.collection_select :gender, Gender.order(:name),:id,:name, include_blank: true %>%>
				<%#</div>%>

			<div>
				<%= f.text_field :shoulder_width, :placeholder => "Shoulder width [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:shoulder_width) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :inner_leg_length, :placeholder => "Inner leg length [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:inner_leg_length) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :body_depth, :placeholder => "Body depth [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:body_depth) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :seat_height, :placeholder => "Seat height [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:seat_height) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :elbow_wrist_length, :placeholder => "Elbow wrist length [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:elbow_wrist_length) ? ' textbox-wrong' : '') %>
			</div>

			<div>
				<%= f.text_field :waist_girth, :placeholder => "Waist girth [cm]", class: 'mocap-textbox' + (@actor.errors.include?(:waist_girth) ? ' textbox-wrong' : '') %>
			</div>

		</div>

	</div>

	<div><%= f.submit "create an actor", class: "btn-default btn mocap-textbox mocap-textbox-hov" %></div>

<% end %>

