<p id="notice"><%= notice %></p>

<h1>Listing Motion Records</h1>

<table>
  <thead>
    <tr>
      <th>Actor</th>
      <th>C3d path</th>
      <th>Bvh path</th>
      <th>Uploader</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motion_records.each do |motion_record| %>
      <tr>
        <td><%= motion_record.actor %></td>
        <td><%= motion_record.c3d_path %></td>
        <td><%= motion_record.bvh_path %></td>
        <td><%= motion_record.uploader_id %></td>
				<% puts motion_record.uploader_id %>
				<% puts '00000000000000000000000000000000000000000000' %>
        <td><%= link_to 'Show', motion_record %></td>
        <td><%= link_to 'Edit', edit_motion_record_path(motion_record) %></td>
        <td><%= link_to 'Destroy', motion_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motion record', new_motion_record_path %>
