<p id="notice"><%= notice %></p>

<p>
  <strong>Actor:</strong>
  <%= @motion_record.actor %>
</p>

<p>
  <strong>C3d path:</strong>
  <%= @motion_record.c3d_path %>
</p>

<p>
  <strong>Bvh path:</strong>
  <%= @motion_record.bvh_path %>
</p>

<p>
  <strong>Uploader:</strong>
  <%= @motion_record.uploader_id %>
</p>

<%= link_to 'Edit', edit_motion_record_path(@motion_record) %> |
<%= link_to 'Back', motion_records_path %>
