<%= form_for @motion do |f| %>

	<%= render 'shared/motion_error_messages' %>

	<div class="backend-field">
		<div class="row backend-row">
			<div class="col-md-6">
				<div>
					<%= hidden_field_tag 'motion_record', params[:motion_record] %>
				</div>
				<div>
					<%= f.text_field :mood, :placeholder => "Mood", class: 'mocap-textbox'%>
				</div>
				<div>
					<%= f.text_field :role, :placeholder => "Role", class: 'mocap-textbox'%>
				</div>
				<div>
					<%= f.text_field :param, :placeholder => "Attributes", class: 'mocap-textbox' %>
				</div>
				<div>

					<p>
					<label for="time">Selected time:</label>
					<%= f.text_field :start, id: "start" %>
					<%= f.text_field :end, id: "end" %>
					</p>
					<div id="slider">
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<%= f.button "create another motion", name: 'more', value: 'true', class: "btn-default btn mocap-textbox mocap-textbox-hov" %>
	</div>
	<div>
		<%= f.button "finished with this motion", name: 'more', value: 'false', class: "btn-default btn mocap-textbox mocap-textbox-hov" %>
	</div>
<% end %>


