<%= form_for @motion do |f| %>

	<%= render 'shared/motion_error_messages' %>

	<div class="backend-field">
		<div class="row backend-row">
			<div class="col-md-6">
				<div>
					<%= f.collection_select :mood, Actor.all.uniq{ |x| x.name }, :_id, :name, { :include_blank => true}, class: 'js-example-placeholder-single mood' %>
				</div>
				<div>
					<%= hidden_field_tag 'motion_record', params[:motion_record] %>
				</div>
			</div>

			<div class="col-md-6">
			</div>
		</div>
	</div>
	<div>
		<%= f.button "create another motion", name: 'more', value: 'true', class: "btn-default btn mocap-textbox mocap-textbox-hov" %>
	</div>
	<div>
		<%= f.button "finished with this motion", name: 'more', value: 'false', class: "btn-default btn mocap-textbox mocap-textbox-hov" %>
	</div>
<% end %>


