<%= form_for @motion do |f| %>

	<%= render 'shared/motion_error_messages' %>

	<% rec = MotionRecord.all.where(:_id => @motion.motion_record.to_s).first %>

	<div class="backend-field">
		<div class="row backend-row">
			<div class="col-md-6">
				<div>
					<%= hidden_field_tag 'motion_record', params[:motion_record] %>
				</div>
				<div>
					<%= collection_select :motion, :mood, Mood.all, :name, :name, { :include_blank => true}, class: 'js-example-tags', id: 'mood' %>
				</div>
				<div>
					<%= collection_select :motion, :role, Role.all, :name, :name, { :include_blank => true}, class: 'js-example-tags', id: 'role' %>
				</div>
				<div>
					<%= collection_select :motion, :tags, Tag.all, :name, :name, { :prompt => true }, { :multiple => true, class: 'js-example-tags', id: 'attributes' } %>
				</div>
				<p>
				<label for="time">Selected time:</label>
				<%= f.text_field :start, id: "start" %>
				<%= f.text_field :end, id: "end" %>
				</p>
				<div id="slider">
				</div>
			</div>

			<div class="col-md-6">
				<div>
					<button onclick="cancelAnimationFrame(animationID)">cancelAnimationFrame</button>
					<div id="slider-range"></div>
					<p>
					<label for="range">Range:</label>
					<input type="text" id="range" readonly style="border:0; color:#f6931f; font-weight:bold;">
					</p>
					<div id="webGLContent">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<%= f.button "create another motion", name: 'more', value: 'true', class: "btn-default btn mocap-textbox mocap-textbox-hov" %>
	</div>
	<div>
		<%= f.button "finished with this motion", name: 'more', value: 'false', class: "btn-default btn mocap-textbox mocap-textbox-hov" %>
	</div>
<% end %>


