<%= form_for(@motion) do |f| %>

	<%= render 'shared/motion_error_messages' %>



	<div class="row">
		<div class="col-md-6">

			<div>
				<%= f.text_field :role, :placeholder => "Role", class: 'mocap-textbox' + (@motion.errors.include?(:role) ? ' textbox-wrong' : '') %>
			</div>

		</div>


		<div class="col-md-6">

			<div>
				<%= f.text_field :mood, :placeholder => "Mood", class: 'mocap-textbox' + (@motion.errors.include?(:mood) ? ' textbox-wrong' : '') %>
			</div>

		</div>

	</div>

	<div><%= f.submit "create a motion", class: "btn-default btn mocap-textbox mocap-textbox-hov" %></div>

<% end %>


