<%= form_for @motion do |f| %>

	<%= render 'shared/motion_error_messages' %>

	<div class="backend-field">
		<div class="row backend-row">
			<div class="col-md-6">
				<div class="hidden-field">
					<%= hidden_field_tag 'motion_record', params[:motion_record] %>
				</div>
				<div>
					<%= collection_select :motion, :mood, Mood.all, :name, :name, { :include_blank => true}, class: 'js-example-tags' + (@motion.errors.include?(:mood) ? ' dropdown-wrong' : '' ), id: 'mood' %>
				</div>
				<div>
					<%= collection_select :motion, :role, Role.all, :name, :name, { :include_blank => true}, class: 'js-example-tags' + (@motion.errors.include?(:mood) ? ' dropdown-wrong' : '' ), id: 'role' %>
				</div>
				<div>
					<%= collection_select :motion, :tags, Tag.all, :name, :name, { :prompt => true }, { :multiple => true, class: 'js-example-tags' + (@motion.errors.include?(:mood) ? ' dropdown-wrong' : '' ), id: 'attributes' } %>
				</div>
				<div class="back-slider">
					<label for="motion" class="time-label">Selected time:</label>
					<%= f.text_field :start, :readonly => true, id: "start" %>
					<i> - </i>
					<%= f.text_field :end, :readonly => true, id: "end" %>
					<div class="slider-range" id="slider-range"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div id="webGLContent"></div>
			</div>
		</div>
	</div>
	<div>
		<%= f.button "create another motion", name: 'more', value: 'true', class: "btn-default btn mocap-textbox mocap-textbox-hov", id:"mocap-btn" %>
	</div>
	<div>
		<%= f.button "finished with this motion", name: 'more', value: 'false', class: "btn-default btn mocap-textbox mocap-textbox-hov" %>
	</div>
<% end %>


