<div class="actor" >
	<div class="container content-section">
		<div class="form">

			<div class="signupcont">

				<h2>register a new motion for <%= params[:motion_record] %></h2>
				<%= render 'form' %>

			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'OrbitControls', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'BVHLoader.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'nouislider', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'motionTrim.js', 'data-turbolinks-track' => true %>

<script type="text/javascript" charset="utf-8">
	var loadedMotion = '<%= id_to_path(params[:motion_record]) %>';
	console.log(loadedMotion);
</script>

<%= javascript_include_tag 'motionView.js', 'data-turbolinks-track' => true %>

