<div class="signup" >
	<div class="container content-section">
		<div class="form">

			<div class="signupcont">

				<h2>sign up</h2>

				<%= form_for(@user) do |f| %>

					<%= render 'shared/user_error_messages' %>

					<%= debug(@user.errors) if Rails.env.development? %>

					<div>
						<%= f.text_field :username, :placeholder => "Username", class: 'mocap-textbox' + (@user.errors.include?(:username) ? ' textbox-wrong textbox-wrong-vis' : '') %>
					</div>

					<div>
						<%= f.password_field :password, :placeholder => "Password", class: 'mocap-textbox' + (@user.errors.include?(:username) ? ' textbox-wrong' : '') %>
					</div>

					<div>
						<%= f.password_field :password_confirmation, :placeholder => "Confirm password", class: 'mocap-textbox' + (@user.errors.include?(:username) ? ' textbox-wrong' : '') %>
					</div>

					<div><%= f.submit "Create an account", class: "btn-default btn mocap-textbox mocap-textbox-hov" %></div>

				<% end %>
			</div>


		</div>
	</div>
</div>

<!-- Script to activiate navigation -->

<script type="text/javascript">
$(function() {
	$('#nav-login').addClass('active');
	
	$('.mocap-textbox').one('focus', function() {
		$(this).toggleClass('mocap-textbox-click');
	});
});

</script>

