<!-- Search Section -->
<section id="searchbar" class="content-section">
	<div class="container">
		<div class="search-section text-center" id="search-section">		
			<%= form_tag(searchDB_path, :method => "get", id: "search-form") do %> 
			    <p>
			    	<%= text_field_tag :search_actor, params[:search_actor], placeholder: 'actor', class: 'mocap-textbox' %>
				    <%= text_field_tag :search_gender, params[:search_gender], placeholder: 'gender', class: 'mocap-textbox' %>
				   	<%= text_field_tag :search_role, params[:search_role], placeholder: 'role', class: 'mocap-textbox' %>
				   	<%= text_field_tag :search_mood, params[:search_mood], placeholder: 'mood', class: 'mocap-textbox' %>
			    	<%= submit_tag "Search", :name => nil %>
				</p>
			<% end %>
		</div>

		<h3><small> found motions: xxx</small></h3>
	
	</div>
	<div class="col-sm-12 content-box">
		<div class="col-sm-7 motions-container">
			<% if @found.blank? %>
				<h4>There are no motions found fitting your search.</h4>
			<% end %>

			<!-- content search result -->
			<%  @found.each do |f|  %>
				<div class="col-sm-3 motion-box" >
					<img class="motion" src="/TODO" alt="#">
					<div class="motion-content">
						<a href="#"><h3><%= f.role %></h3></a>
						<p><%= f.mood %></p>
						<%= f.actor %>
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-sm-5 view-container">
			<div class="player-box" id="player">
			
			</div>
			<div class="motion-description">
			</div>
		</div>					
	</div>
</section>

	<%= javascript_include_tag 'page-scroll-annimation', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'motionView.js', 'data-turbolinks-track' => true %>