<!-- Search Section -->
<section id="searchbar" class="content-section">
	<div class="container">
		<div class="search-section text-center" id="search-section">		
			<%= form_tag(searchDB_path, :method => "get", id: "search-form") do %>

					<%= select_tag :search_actor, options_from_collection_for_select(Actor.all, :name, :name, params[:search_actor]), include_blank: true, class: 'js-example-placeholder-single actor' %>
					<%= select_tag :search_gender, options_from_collection_for_select(Actor.all.uniq{ |x| x.gender }, :gender, :gender, params[:search_gender]), include_blank: true, class: 'js-example-placeholder-single gender' %>
					<%= select_tag :search_role, options_from_collection_for_select(Motion.all.uniq{ |x| x.role }, :role, :role, params[:search_role]), include_blank: true, class: 'js-example-placeholder-single role' %>
					<%= select_tag :search_mood, options_from_collection_for_select(Motion.all.uniq{ |x| x.mood }, :mood, :mood, params[:search_mood]), include_blank: 	true, class: 'js-example-placeholder-single mood' %>
					
			    	<%= submit_tag "Search", :name => nil %>
			<% end %>
		</div>

		<h3><small> found motions: xxx</small></h3>
	
	</div>
	<div class="col-sm-12 content-box">
		<div class="col-sm-7 motions-container">
			<% if @found.blank? %>
				<h4>There are no motions found fitting your search.</h4>
			<% end %>

			<!-- content search result -->
			<% @found.each do |f|  %>
				<div class="col-sm-3 motion-box" >
					<div class="motion-content" id="preview">						
						<div class="motion-font">role: <%= f.role %><br/>
						mood: <%= f.mood %><br/>
						description:
						<% f.param.each do |a| %>
							<%= a %>
						<% end %></div>

						<%
						   a = @actors.where(:name => f.actor).first
						 %>
						<div>
						<script type="text/javascript">
							var testPath = '<%= asset_path 'f.bvh_file' %>';
							alert
						</script>
							<button onclick="showMotion('<%= f.role %>',
														'<%= f.mood %>',
														'<%= f.param %>',
														'<%= a.name %>',
														'<%= a.weight %>',
														'<%= a.gender %>',
														'<%= a.body_height %>',
														'<%= a.shoulder_width %>',
														'<%= a.shoulder_height %>',
														'<%= a.inner_leg_length %>',
														'<%= a.tibia_length %>',
														'<%= a.body_depth %>',
														'<%= a.hip_width %>',
														'<%= a.seat_height %>',
														'<%= a.shoulder_elbow_length %>',
														'<%= a.elbow_wrist_length %>',
														'<%= a.chest_girth %>',
														'<%= a.waist_girth %>',
														'<%= a.thigh_girth %>',
														testPath
							)" class="btn btn-default btn-sm">show Motion</button>
						</div>
					</div>
				</div>
			<% end %>
			<%= will_paginate @found %>
		</div>
		<div class="col-sm-5 view-container">
			<div class="player-box" id ="player">
				
			</div>
			<div class="motion-description" id="details">	
					
			</div>				
		</div>
		</div>
</section>

	<%= javascript_include_tag 'page-scroll-annimation', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'OrbitControls', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'BVHLoader.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'motionView.js', 'data-turbolinks-track' => true %>
