

<script type="text/javascript">
$(document).ready ( function(){
document.getElementById("nav-searchpage").className += "active";
});
>>>>>>> parent of 31a7b3b... active navbar

<!-- Search Section -->
</script>

<section id="searchbar" class="content-section">

	<div class="container">
		<div class="search-section text-center" id="search-section">
			<form class="form-inline" action="/searchDB#show" method="GET">
				<div class="form-group">
					<input class="from-control mocap-textbox" list="actors" type="text" id="actor">
						<datalist id="actors">
							<select class="form-control mocap-textbox">				
								<option value="" disabled selected>Choose Actor</option>
									<% @actors.each do |actor| %>
										<option><%= actor.name %></option>
			 						<% end %>
							</select>
						</datalist>
					<input class="from-control mocap-textbox" list="genders" type="text" id="gender">
						<datalist id="genders">
							<select class="from-control mocap-textbox">
								<option value="" disabled selected>Gender</option>
								<option>female</option>
								<option>male</option>
							</select>
						</datalist>
					<input class="from-control mocap-textbox" list="roles" type="text" id="role">
						<datalist id="roles">
							<select class="from-control mocap-textbox">
								<option value="" disabled selected>Role</option>
								<% @roles.each do |r| %>
									<option><%= r %></option>
		 						<% end %>
							</select>
						</datalist>
					<input class="from-control mocap-textbox" list="moods" type="text" id="mood">
						<datalist id="moods">
							<select class="from-control mocap-textbox">
								<option value="" disabled selected>Mood</option>
								<% @moods.each do |m| %>
									<option><%= m %></option>
		 						<% end %>
							</select>
						</datalist>
					<input class="from-control mocap-textbox" list="params" type="text" id="param">
						<datalist id="params">
							<select class="from-control mocap-textbox">
								<option value="" disabled selected>Desctiption</option>
								<% @params.each do |p| %>
									<option><%= p %></option>
		 						<% end %>
							</select>
						</datalist>
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</form>
			<h3><small> found motions: xxx</small></h3>
		</div>
	</div>
	<div class="container-fluid">
		<!-- Page Header -->
		<div class="row">
			<div class="container">
				<h1>most popular </h1>
				<hr>
			</div>
		</div>
		<!-- /.row -->
		<div class="content-box">
			<div class="col-sm-7 gif-container">
				<% 12.times do  %>
				<div class="col-sm-3 gif-box">
					<img class="gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
							leider nein, leider gar nicht.
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<% end %>
				
				<!-- Pagination -->
				<div class="row text-center">
					<div class="col-md-12">
						<ul class="pagination">
							<li>
								<a href="#">&laquo;</a>
							</li>
							<% 5.times do |n| %>
							<li >
								<a href="#"><%= n+1 %></a>
							</li>
							<%end %>
							<li>
								<a href="#">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-5 player-box" id="unity_player">
				<p><span>Unity WebGL Player | </span>IA Test</p>
				<div class="template-wrap player-display">
		              <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="500px" width="480"></canvas>
            	</div>
            	<div class="player-content">
            	<div class="logo">
              		<%= image_tag "unity_logo.png" %>
              	</div>
              	<div class="fullscreen"><%= image_tag "fullscreen.png", :onclick => "SetFullscreen(1)" %></div>
              	<p class="footer">&laquo; created with <a href="http://unity3d.com/" title="Go to unity3d.com">Unity</a> &raquo;</p>

					<div class="player-text" >
						<h3>Motion</h3>
						<p>Attributes</p>
							xxx
					</div>					
				</div>
			</div>					
		</div>
	</div>
<hr>
</section>


<!-- Script to activiate navigation -->

<script type="text/javascript">
$(document).ready ( function(){
document.getElementById("nav-searchpage").className += "active";
});
</script>

