<!--
 MOCAP.WEB - Werbprojekt und Interaktive Systeme
 Supervisors: Prof. Dr. Gruenvogel, Prof. Dr. Lo Iacono
 TH Koeln SS 2016
 Authors: Lisa-Marie Assmann, Marie-Luise Lux
-->

<!-- Search Section -->
<section id="searchbar" class="content-section">
	<div class="container">
	<!-- starts the player for the motion preview -->
	<script type="text/javascript">
		window.onload = function () { 
			startView();
    	}
	</script>
		<div class="search-section text-center" id="search-section">		
			<!-- Search Form for the DB search -->
			<%= form_tag(searchDB_path, :method => "get", id: "search-form") do %>

					<%= select_tag :search_actor, options_from_collection_for_select(Actor.all, :name, :name, params[:search_actor]), include_blank: true, class: 'js-example-placeholder-single actor search-id' %>
					<%= select_tag :search_gender, options_from_collection_for_select(Actor.all.uniq{ |x| x.gender }, :gender, :gender, params[:search_gender]), include_blank: true, class: 'js-example-placeholder-single gender search-id' %>
					<%= select_tag :search_role, options_from_collection_for_select(Role.all, :_id, :name, params[:search_role]), include_blank: true, class: 'js-example-placeholder-single role search-id' %>
					<%= select_tag :search_mood, options_from_collection_for_select(Mood.all, :_id, :name, params[:search_mood]), include_blank: 	true, class: 'js-example-placeholder-single mood search-id' %>
					<%= select_tag :search_description, options_for_select(@ary, params[:search_description]),  multiple: true, include_blank: true, class: 'js-example-placeholder-single description search-id ' %>
					
			    	<%= submit_tag "Search", :name => nil, class: " btn btn-sm btn-default" %>
			<% end %>
		</div>
		<% if @found.size == 0 %>	<!-- if no motions are found -->
			<h3><small>There are no motions found fitting your search!</small></h3>
		<% end %>
		<% if @found.size != 0%>	<!-- if motions are found return how many -->
			<h3><small> found motions: <%= @found.size %></small></h3>
		<% end %>
	
	</div>
	<div class="col-sm-12 content-box">
		<div class="col-sm-7 motions-container">
			<!-- content search result -->
			<% @found.each do |f|  %>
				<!-- One box for each search result -->
				<div class="col-sm-3 motion-box" >
					<div class="motion-content motion-font" id="preview">	<!-- Each Box contains general Information of the motion -->	
						<%	#so we can also access Information in the corresponding Motionrecord and Actor
							rec = MotionRecord.all.where(:_id => f.motion_record).first
							a = Actor.all.where(:name => rec.actor).first

							descriptions = ''
							f.tags.each do |t|
								unless t.blank?
									descriptions += Tag.all.where(:_id => t).first.name + ", "
								end
							end
							# path for the BVH download
							pathBVH = "/uploads/" + rec.bvh_path
							
							# path for the C3D and FBX downloads, check first if existent
							unless rec.c3d_path.blank?
								pathC3D = "/uploads/" + rec.c3d_path
							end
							unless rec.fbx_path.blank?
								pathFBX = "/uploads/" + rec.fbx_path
							end
						 %>

						<b>Actor:</b> <%= a.name %><br/>
						<b>Role:</b> <%= Role.all.where(:_id => f.role).first.name %><br/>
						<b>Mood:</b> <%= Mood.all.where(:_id => f.mood).first.name %><br/>
						<b>Description:</b><br/>	
						<%= descriptions %>
						<br/>

						<!-- Just for optical reasons since the Delete Button needs space in logged in mode -->
						<% unless logged_in? %>
							<br/>
						<% end %>

						<div><!-- When clicking the "show motion" button a javascript function is called that displays the detailed Information of the motion -->
							<button onclick="showMotion('<%= Role.all.where(:_id => f.role).first.name %>',
														'<%= Mood.all.where(:_id => f.mood).first.name %>',
														'<%= descriptions %>',
														'<%= a.name %>',
														'<%= a.weight %>',
														'<%= a.gender %>',
														'<%= a.body_height %>',
														'<%= a.shoulder_width %>',
														'<%= a.shoulder_height %>',
														'<%= a.inner_leg_length %>',
														'<%= a.tibia_length %>',
														'<%= a.body_depth %>',
														'<%= a.hip_width %>',
														'<%= a.seat_height %>',
														'<%= a.shoulder_elbow_length %>',
														'<%= a.elbow_wrist_length %>',
														'<%= a.chest_girth %>',
														'<%= a.waist_girth %>',
														'<%= a.thigh_girth %>',
														'<%= rec.bvh_path %>',
														'<%= f.start %>',
														'<%= f.end %>'						
							)" class="btn btn-default btn-sm">show Motion</button>
						</div>
						<!-- Delete button only available if logged in -->
						<% if logged_in? %>
							<div class="user-section">
							<%= link_to 'Delete', f, method: "delete", data: { confirm: 'Are you sure you want to delete this record?' }, class: "btn btn-sm btn-default btn-user btns"%>
							</div>
						<% end %>
						<% unless logged_in? %>
							<br/>
						<% end %>

						<!-- Doenload buttons -->
						<button class="btn btn-default btn-sm btns"">
							<%= link_to "BVH", pathBVH, :download => rec.bvh_path %>
						</button>
						<!-- Cjecks first if C3D and FBX exist -->
						<% unless rec.c3d_path.blank? %>
							<button class="btn btn-default btn-sm btns"">
								<%= link_to "C3D", pathBVH, :download => rec.c3d_path %>
							</button>
						<% end %>
						<% unless rec.fbx_path.blank? %>
							<button class="btn btn-default btn-sm btns"">
								<%= link_to "FBX", pathBVH, :download => rec.fbx_path %>
							</button>
						<% end %>
					</div>
				</div>
			<% end %>
			<!-- pagination so we don't have all result in one page -->
			<%= will_paginate @found %>
		</div>
		<div class="col-sm-5 view-container">
			<div class="player-box" id ="player">
				
			</div>
			If the player is not displayed please load the page again.
			<div class="motion-description" id="details">	
				<!-- Motion details to be displayed here -->
			</div>				
		</div>
		</div>
</section>

	<%= javascript_include_tag 'page-scroll-annimation', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'OrbitControls', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'BVHLoader.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'motionView.js', 'data-turbolinks-track' => true %>
