<!DOCTYPE html>
<html>

<head>

	<title>mocap</title>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag     'application', media: 'all' , 'data-tourbolinks-track' => true %>
	<%= csrf_meta_tags %>


	<!-- Custom Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>

<% if logged_in? %>
	<body class= "<%= controller_name %> <%= action_name %> back-col" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<% else %>
	<body class= "<%= controller_name %> <%= action_name %>" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<% end %>


	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">
					<i class="fa fa-play-circle"></i>  <span class="light">Mocap</span> 
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->

					<li class="<%= 'active' if params[:action] == 'searchDB' %>"> <a href="/searchDB">searchDB</a> </li>

					<% if logged_in? %>


					<li class="<%= 'active' if (params[:controller] == 'motions' or params[:controller] == 'motion_records' ) %>"> <a href="/motions">motions</a> </li>
					<li class="<%= 'active' if params[:controller] == 'actors' %>"> <a href="/actors">Actors</a> </li>
					<li class="<%= 'active' if params[:controller] == 'users' %>"> <a href="/signup">signup</a> </li>


					<li>
						<%= link_to "log out", logout_path, method: "delete" %>
					</li>

					<% else %>


					<li>
						<a class="page-scroll" href="#about">about</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">contact</a>
					</li>


					<li class="<%= 'active' if (params[:controller] == 'sessions'and params[:action] == 'new') %>"> <a href="/login">login</a> </li>

					<% end %>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>


	<%= yield %>

	<!-- Footer -->
	<footer>
		<div class="container text-center">
			<p>Copyright &copy; TH Köln</p>
		</div>
	</footer>

	<%= javascript_include_tag 'page-scroll-annimation', 'data-turbolinks-track' => true %>

</body>
</html>
